.customer {
    margin: 10px;
    background-color: lightblue;
    border: 2px solid slategray;
    padding: 6px;
}

.customers {
    border: 2px solid grey;
    background-color: whitesmoke;
    margin: 10px;

}